﻿
@{
    ViewBag.Title = "CORTES NOMINA PLANTA";
}

<h2>@ViewBag.Title</h2>

<div id="grdCorteNominaPlanta"></div>

@section scripts {
    @Scripts.Render("~/Scripts/CorteNominaPlanta/Index.js?v=" + DateTime.Now.Ticks.ToString())
}