﻿
@{
    ViewBag.Title = "Cantidad Empleados y Tubos Semana";
}

<h2>@ViewBag.Title</h2>

<div id="grdEmpleados"></div>

@section scripts {
    @Scripts.Render("~/Scripts/EmpleadoSemana/Index.js?v=" + DateTime.Now.Ticks.ToString())
}