﻿
@{
    ViewBag.Title = "Máquinas";
}

<h2>@ViewBag.Title</h2>

<div id="grdMaquinas"></div>

@section scripts {
    @Scripts.Render("~/Scripts/Maquina/Index.js?v=" + DateTime.Now.Ticks.ToString())
}