﻿
@{
    ViewBag.Title = "Grupos Causales de Extra";
}

<h2>@ViewBag.Title</h2>

<div id="grdGruposCausalesExtra"></div>

@section scripts {
    @Scripts.Render("~/Scripts/GrupoCausalExtra/Index.js?v=" + DateTime.Now.Ticks.ToString())
}