﻿@*
    Estos filtros aplican para el reporte General
*@
@{
    string reporte = ViewContext.RouteData.Values["action"].ToString();
}
<div class="row filtros">
    <div class="col-md-12">
        <div class="row parametros">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label>Año:</label>
                        <input id="txtAnio" />
                    </div>
                    <div class="col-md-2">
                        <label>Consultar por semanas</label>
                        <input id="chkConsultarPorSemanas" type="checkbox" />
                    </div>
                    <div class="col-md-3">
                        <label>Semanas:</label>
                        <div id="selSemanas"></div>
                    </div>
                    <div class="col-md-2">
                        <label>Centro:</label>
                        <div id="cmbCentros"></div>
                    </div>
                    <div class="col-md-2">
                        <label>Máquina:</label>
                        <div id="cmbMaquinas"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row opciones">
            <div class="col-lg-12">
                <button class="btn btn-success" data-reporte="@reporte" id="btnGenerarReporte">Generar</button>
                <button class="btn btn-danger" id="btnExportarPDF">Exportar PDF</button>
                <button class="btn btn-primary" id="btnExportarImagen">Exportar Imágen</button>
            </div>
        </div>
    </div>
</div>

@*
    Añadir el archivo JS en la sección de script de la vista principal
    @Scripts.Render("~/Scripts/Reportes/FiltrosReportes2.js?v=" + DateTime.Now.Ticks.ToString())
*@