﻿
@{
    ViewBag.Title = "Reporte General";
}

@Html.Partial("FiltrosReporteGeneral")

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div id="grafica1"></div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/Reportes/FiltrosReporteGeneral.js?v=" + DateTime.Now.Ticks.ToString())
    @*@Scripts.Render("~/Scripts/Reportes/General.js?v=" + DateTime.Now.Ticks.ToString())*@
}