﻿
@{
    ViewBag.Title = "Horas Extra Planta Acumuladas Año";
}

@Html.Partial("FiltrosReportes1")

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div id="grafica1"></div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/Reportes/FiltrosReportes1.js?v=" + DateTime.Now.Ticks.ToString())
    @Scripts.Render("~/Scripts/Reportes/HorasExtraPlantaAcumulada.js?v=" + DateTime.Now.Ticks.ToString())
}