﻿
@{
    ViewBag.Title = "Objetivos";
}

<h2>@ViewBag.Title</h2>

<div id="grdObjetivos"></div>

@section scripts {
    @Scripts.Render("~/Scripts/Objetivo/Index.js?v=" + DateTime.Now.Ticks.ToString())
}