﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.contenedor-input {
    display: block;
    max-width: 95%;
}

    .contenedor-input > .input-texto {
        border-color: #ebebe4;
        border-radius: 6px;
        color: black;
        padding: 4px;
        width: 100%;
    }

/* Reportes */
.filtros {
    background-color: #d4d4d4;
    border: 1px solid rgba(175, 175, 175, 0.6);
    margin: 24px 12px 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

    .filtros .parametros {
        margin-bottom: 12px;
    }

        .filtros .parametros label {
            display: block;
        }

    .filtros input[type="checkbox"] {
        height: 1.6em;
        width: 1.6em;
    }
